<mat-card *ngIf="notFound"><mat-card-subtitle>אין עדיין המלצות להציג.</mat-card-subtitle></mat-card>

<mat-card *ngFor="let r of recommends"  >
    <mat-card-header style="direction:ltr"><p style="direction:rtl">{{r.date_posted | israelidate}}</p></mat-card-header> 
    <mat-card-header dir="rtl">
        <mat-card-title dir="rtl" >{{r.user_name[0]}} {{r.user_name.indexOf(' ')>1 ? r.user_name[r.user_name.indexOf(' ')+1]  : ' '}} מ{{r.user_city}} </mat-card-title>
        <mat-card-title dir="rtl" ><strong>  {{r.title}} </strong></mat-card-title>
            <div id="stars" *ngFor="let s of fullStars(r)" [ngSwitch]="s">
        <mat-icon *ngSwitchCase="1" style="color:gold">star</mat-icon>
        <mat-icon *ngSwitchCase="0.5" style="color:gold">star_half</mat-icon>
        <mat-icon *ngSwitchCase="0" style="color:gold">star_border</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content dir="rtl">
        <p dir="rtl" class="content">"{{r.content}}"</p>
    </mat-card-content>
</mat-card> 
