<!-- <div >
    <h1 ><a routerLink="about">Home Page</a></h1>
    <a routerLink="login" class="btn btn-outline-primary">Log in</a>
    <a routerLink="signup" class="btn btn-outline-primary">Sign up</a>
    <a routerLink="experts" class="btn btn-outline-primary">Experts</a>
 </div> -->

<div class="head-wrapper">
<nav class="navbar navbar-expand-sm ">
    <ul class="nav nav-bills nav-justified">
        <li class="nav-item">
            <button mat-raised-button color="header">
            <a class="nav-link" routerLink="/signup">הרשם</a></button>
        </li>
        <li class="nav-item"> 
            <button mat-raised-button color="header">
            <a  class="nav-link" routerLink="/login">כניסה</a></button>
        </li>
        <!-- <li class="nav-item"> 
            <button mat-raised-button color="header">
            <a  class="nav-link" routerLink="/login">יציאה</a></button>
        </li> -->
        <li class="nav-item"> 
            <button mat-raised-button color="header">
            <a  class="nav-link" routerLink="/manager-login">כניסת מנהל</a></button>
        </li>
        <li class="nav-item">
            <button mat-raised-button color="header">
            <a class="nav-link" routerLink="/experts">בעלי מקצוע</a></button>
        </li>
    </ul>
   </nav>
</div>

