<div class="head-wrapper">
<nav class="navbar navbar-expand-sm ">
    <ul class="nav nav-bills nav-justified">
        <li class="nav-item" *ngIf="!user">
            <button mat-raised-button color="header">
            <a class="nav-link" routerLink="/signup">הרשם</a></button>
        </li>
        <li class="nav-item" *ngIf="!user"> 
            <button mat-raised-button color="header">
            <a  class="nav-link" routerLink="/login">כניסה</a></button>
        </li>
        <li class="nav-item" *ngIf="user"> 
            <button mat-raised-button color="header" (click)="logOut()">
            <a  class="nav-link">יציאה</a></button>
        </li>
        <li class="nav-item" *ngIf="!user"> 
            <button mat-raised-button color="header">
            <a  class="nav-link" routerLink="/manager-login">כניסת מנהל</a></button>
        </li>
        <li class="nav-item">
            <button mat-raised-button color="header">
            <a class="nav-link" routerLink="/experts">בעלי מקצוע</a></button>
        </li>
    </ul>
   </nav>

   <div class="greetUser">
    <button mat-raised-button color="header">
        <a class="nav-link" routerLink="">שלום שמעון<br/>
            לחץ כאן לאזור האישי
        </a></button>
   </div>
</div>

