<div class="row">
    <div class="col-3">
        <input type="text" class="form-control" placeholder="שם" required="required"
            [(ngModel)]='name' name="name" (focus)="clearName()" ngDefaultControl />
    </div>
    <div class="col-3">
        <input list="city" class="form-control" placeholder="בחר עיר" required="required" [(ngModel)]='currentCity'
            name="expertCity" (focus) = "clearCity()" ngDefaultControl />
        <datalist id="city">
            <option *ngFor="let c of allCities" [value]="c.name">
        </datalist>
    </div>
    <div class="col-3">
        <input id="micro" list="field" class="form-control" placeholder="תחום התמקצעות" required="required"
            [(ngModel)]='currentSubject' name="expertField" (focus) = "clearChild()"  ngDefaultControl />
        <datalist id="field">
            <option *ngFor="let c of allChildrenSubjects" [value]="c.subName">{{c.subName}}</option>
        </datalist>
    </div>
    <div class="col-3">
        <input id="category" type="text" list="prof" class="form-control" placeholder="קטגוריות" required="required"
            [(ngModel)]='currentParentSubject' name="expertField" ngDefaultControl (change) = "getChildren()" (focus) = "clearParent()"/>
        <datalist id="prof">
            <option *ngFor="let s of allParentsSubjects" [value]="s.subName" >{{s.subName}}</option>
        </datalist>
    </div>
    <div>
        <button class="btn btn-primary" (click)="filter();">Filter</button>
        <button class="btn btn-outline-primary"  (click)="clear();">Clear</button>
      
    </div>
</div>

<mat-card *ngFor="let x of allexperts"><a routerLink="/experts/{{x.id}}">
        <mat-card-header>
            <mat-card-title>{{x.userName}}</mat-card-title>
            <mat-card-subtitle>{{getSubjectService().getSubjectById(x.proSubject).subName}}</mat-card-subtitle>
            <!-- <img mat-card-avatar src="{{x.imgUrl}}"> -->
        </mat-card-header>
        <mat-card-content>
            <p>{{x.description}}</p>
        </mat-card-content>
    </a></mat-card>