@use '../general' as *;
.exp{
    background-color:$colorB;
    padding:10px;
    margin:15px 25px;
    height:100px;}
.picture{
    width:100px;
    height:100px;
    background-color:$colorD;
    float:$r;}
.details{
    width:90vw;
    position:$pos;}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;

}
.mat-card{
    margin:20px 20vw;
    background:linear-gradient(#daf3ff,white);
}
