<mat-card>
    <mat-card-header>
        <mat-card-title>SHORT DESCIPTION</mat-card-title>
        <mat-card-subtitle>USER NAME</mat-card-subtitle>
       <img mat-card-avatar src="https://lh3.googleusercontent.com/a-/AOh14Ggt181T9Cb27N5q52Bvhq_D6owUzINwzrs2lPTx6g=s28-c-k-no" />
    </mat-card-header>
    <mat-card-content>
        <p>recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text </p>
        <p>recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text recommend text  </p>
    </mat-card-content>
    <mat-icon  style="color:gold">star</mat-icon>
    <mat-icon  style="color:gold">star</mat-icon>
    <mat-icon  style="color:gold">star</mat-icon>
    <mat-icon  style="color:gold">star_half</mat-icon>
    <mat-icon style="color:gold">star_border</mat-icon>
</mat-card>
