<!-- 
    here there are going to be all invitations that were accepted.
    <mat-card *ngFor="let ap of approvedInvitations">

    here there will be some br/ of material
    
    here there are going to be all invitations of this specific expert that weren't accepted yet
    <mat card *ngFor="let un of unapprovedInvitations">

    for each card that wasn't approved there will be a few options to respond.
    like 'cannot at this time'/'busy on that day'/'I don't expert in this topic' or 'gladly' for positive response.

    it will be like accordion dropdown that takes its design settings from material component

-->