$basicFont:Segue-Ui;
$basicColor:black;
$basicBack:lightblue;
$basicWidth:100vw;
$basicFontSize:20px;

div{
    background-color:$basicBack;
    direction: rtl;
    color:$basicColor;
    width:$basicWidth;
    height:60vh;
    text-align: right;
}
.about
{
    margin-right: 5vw;
    margin-left: 10vw;
    font-size: $basicFontSize;
}