@use '../general' as *;

body{
    background-color:$colorE;}
#stars{
    display: inline-block
}
mat-card{
    margin:20px;
    text-align: center;
}
img{
    width:55px
}
mat-card{
    max-width:850px;
    min-width:250px;
    width:100%;
    margin:auto;
}
// #torecommend{
//     margin-top: 2vw;

// }
#add{
    float: right;
}
mat-expansion-panel{
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    margin:auto;
    background: repeating-radial-gradient(transparent,#ffdf8d);
}
.mat-expansion-panel-body{
    display: flex;
}
