$default:auto;
$colorA:lightblue;
$colorB:lightgreen;
$colorC:lightgray;
$colorD:lightpink;
$colorE:lightsalmon;
$colorF:lightyellow;
$colorG:#e2a1ff;

$pos:absolute;
$r:right;
$l:left;
$scroll:scroll;
$noscroll:hidden;