<div class="form-group form" dir="rtl">
    <p><b>מלא את פרטיך</b></p>
    <input type="text" placeholder="*שם פרטי" class="form-control" [(ngModel)]="fname"/>
    <input type="text" placeholder="*שם משפחה" class="form-control" [(ngModel)]="lname"/>
    <input type="email" placeholder="*כתובת מייל" class="form-control" [(ngModel)]="user.email"/>
    <input type="text" placeholder="*סיסמא" class="form-control" [(ngModel)]="user.userPassword"/>
    <select class="form-control" [(ngModel)]="user.city">
        <option disabled selected>בחר עיר</option>
        <option>ירושלים</option>
        <option>בני ברק</option>
        <option>בית שמש</option>
        <option>חיפה</option>
        <option>באר שבע</option>
    </select>
    <button class="btn btn-outline-secondary btn-block" (click)="postUser()">הרשם</button>
</div>
