<div class="form-group form" dir="rtl">
    <p><b>מלא את פרטיך</b></p>
    <input type="text" placeholder="*שם פרטי" class="form-control"/>
    <input type="text" placeholder="*שם משפחה" class="form-control"/>
    <input type="email" placeholder="*כתובת מייל" class="form-control"/>
    <select class="form-control">
        <option disabled selected>בחר עיר</option>
        <option>ירושלים</option>
        <option>בני ברק</option>
        <option>בית שמש</option>
        <option>חיפה</option>
        <option>באר שבע</option>
    </select>
    <button class="btn btn-outline-secondary btn-block">הרשם</button>
</div>
