@use '../general' as *;
form{
    max-width:350px;
    min-width: 100px;
    width:100%;
    margin:auto
}
mat-form-field{
    width:100%
}
button{
    margin:auto;
}
app-star-rating{
    margin:15px;
    display: inline-block;

}
mat-label{
    display: inline-block;
    
}
#wrap-stars{
margin: auto;
width: max-content;
}
#msg{
    color:blue;
}