.mat-card{
    margin:20px 20vw;
    background:linear-gradient(#b8c3ff 80%, white);
    height: 23vh;
    width: 45vw;
    text-align: center;
}
.mat-card-content{
    font-size: larger ;
    margin-top: 4vh;
    text-align: right;
}
.mat-card-title{
    margin-top: 5vh;;
}