<mat-paginator #paginator 
        [length]="length" 
        [pageIndex]="pageIndex" 
        [pageSize]="pageSize"
        [pageSizeOptions]="[3, 6, 9, 12]" 
        (page)="pageEvent = getServerData($event)">
</mat-paginator>


<mat-card *ngFor="let r of recommends">
    <mat-card-header dir="rtl">
        <mat-card-title dir="rtl">ממליץ: <strong>{{r.user_name}} </strong> | בעל מקצוע: <strong>{{r.expert_name}}</strong></mat-card-title>
        <!-- <mat-card-subtitle dir="rtl"><strong>בעל מקצוע:</strong>  </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content dir="rtl">
        <p dir="rtl"><strong><i>כותרת: </i></strong>{{r.title}}</p>
        <p dir="rtl"><strong><i>תוכן: </i></strong> {{r.content}}</p>
        <p><strong><i>ניקוד: </i></strong>{{r.stars}}</p>
        <p><strong><i>בתאריך: </i></strong>{{r.date_posted | israelidate}}</p>
    </mat-card-content> 
    <button mat-raised-button color="primary" [style.backgroundColor] = "getButtonColor(r.isApproved)" (click)="changeStatus(r)">{{r.isApproved ? 'מאושר' : 'אשר'}}</button>
</mat-card>


